# Dependencies
node_modules/
/.pnp
.pnp.js

# Build & Output Directories
dist/
dist-ssr/
build/
*.local

# Cache Directories
.vite/
.eslintcache
.stylelintcache
.cache/

# Environment Variables (PENTING: Mencegah file .env ter-push ke GitHub)
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & System Files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db